[submodule "themes/ace-doc"]
	path = themes/ace-doc
	url = https://github.com/vantagedesign/ace-documentation.git
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book.git
[submodule "themes/relearn"]
	path = themes/relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
[submodule "themes/techdoc"]
	path = themes/techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc.git
